body {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

.container {
    width: 1000px;
    margin: 0 auto;
    text-align: center;
}


.button_create-task {
    position: absolute;
    right: 100px;
    top: 40px;
}